body {
font-family: Verdana;
font-size: 12px;
margin: 0;
padding: 0;
max-width: 100%;
}

#wrapper {
position: relative;
width: 100%;
margin: 0;
padding: 0;
}

#header {
height: 28px;
color: #3c3c46;
background-color: #ceced5;
font-family: Arial;
font-size: 20px;
padding: 14px 0 14px 20px;
font-weight: bold;
border-bottom: 1px solid #aaa;
background-image: url("../img/zee.png");
}

#user {
display: inline-block;
font-size: 14px;
text-align: right;
position: absolute;
top: 20px;
right: 300px;
background-image: url('../img/user.png');
background-repeat: no-repeat;
padding-left: 30px;
}

#logout {
font-size: 14px;
display: inline-block;
position: absolute;
right: 100px;
top: 20px;
padding-left: 30px;
}

h2 {
color: #44444f;
font-size: 18px;
}

h3{
color: #44444f;
margin: 10px 0 4px 0;
}

h3:first-of-type {
padding-top: 30px;
}

#menu {
position: absolute;
left: 400px;
top: 20px;
}

a:link {
color: #000;
font-weight: bold;
}

a:visited {
color: #555;
}

a:link, a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.odd {
background-color: #ddd;
}

#content {
margin: 10px 20px;
}

.blader {
font-size: 12px;
}

#links {
text-align: right;
}

#nav {
height: 50px;
}

#lijst tr td {
padding: 2px 4px;
}

#lijst tr td .ext {
min-width: 300px;
}

#extStatusNewBtn, #extStatusForm {
margin-top: 20px;
}

#extStatusForm {
display: none;
}

th {
text-align: left;
font-family: arial;
font-size: 15px;
}

td {
vertical-align: top;
}

.label {
font-weight: bold;
padding-right: 20px;
}

.inline_table {
border-collapse: collapse;
}

.inline_cell {
width: 160px;
}

#dependencyTable tr th, #dependencyTable tr td {
width: 60px;
}

#dependencyTable tr th {
height: 20px;
}

#dependencyTable tr td {
height: 30px;
}


table tr td {
vertical-align: top;
}

table {
empty-cells: show;
}

.resultTable, #dependencyTable, #cargoTable, #cargoActorTable, #mutTable, #slavesActorTable, #voyageActorTable {
border-collapse: collapse;
}

.resultTable tr, #dependencyTable tr, #cargoTable tr, #cargoActorTable tr, #mutTable tr, #slavesActorTable tr, #voyageActorTable tr {
border-top: 1px solid #555;
border-left: 1px solid #555;
border-right: 1px solid #555;
}

.resultTable, #dependencyTable, #cargoTable, #cargoActorTable, #mutTable, #slavesActorTable, #voyageActorTable {
border-bottom: 1px solid #555;
}

#btnFrame .resultTable tr td, #cargoTable tr td, #cargoActorTable tr td, #mutTable tr td, #slavesActorTable tr td, #voyageActorTable tr td {
background-color: #ffffff;
}

#btnFrame .resultTable, #cargoTable, #cargoActorTable, #slavesActorTable, #voyageActorTable {
width: 90%;
}

#btnFrame .resultTable tr td:first-child {
border-right: 1px solid #555;
background-color: #f3f3f4 !important;
width: 60px;
}

.resultTable tr td:last-child {
width: 20px;
}

.resultTable tr:hover {
color: #777;
}


#tmpFormatter {
margin: 10px 0 20px 10px;
}

#dependencyTable tr:last-child {
border-bottom: 1px solid #555;
}

#dependencyTable tr td {
border-right: 1px solid #555;
cursor: pointer;
}

#dependencyTable tr td:last-child {
border-right: none;
}


.resultTable tr td, .resultTable tr th, #cargoTable tr td, #cargoTable tr th, #cargoActorTable tr td, #cargoActorTable tr th, #mutTable tr th, #mutTable tr td, #slavesActorTable tr td, #slavesActorTable, tr th, #voyageActorTable tr th {
padding: 4px 16px 4px 6px;
}

.resultTable tr th, #dependencyTable tr th, #cargoTable tr th, #cargoActorTable tr th, #mutTable tr th, #slavesActorTable tr th, #voyageActorTable tr th {
color: #fff;
background-color: #5c5c6a;
}

.resultTable tr th a , #cargoTable tr th a, #cargoActorTable tr th a, #slavesActorTable tr th a, #voyageActorTable tr th a{
color: #ffffff;
border: 1px solid #ffffff;
padding: 0 4px;
}

.itemGrid {
display: table;
}

.itemGridRow {
display: table-row;
margin: 1px;
}

.itemGridCell {
display: table-cell;
padding: 4px 6px;
border-top: 1px solid #555;
border-left: 1px solid #555;
border-right: 1px solid #555;
background-color: #eee;
}

.itemGridRow:last-child .itemGridCell {
border-bottom: 1px solid #555;
}

.labelCell {
color: #fff;
background-color: #444;
}

.viewText {
width: 100%;
min-height: 100px;
height: 406px;
}

#profileDataNavigator {
border-bottom: 1px solid #999;
margin: 40px 0 20px 0;
list-style: none;
}

#profileDataNavigator li {
border-radius: 8px 8px 0 0;
border-left: 1px solid #999;
border-top: 1px solid #999;
border-right: 1px solid #999;
display: inline-block;
padding: 2px 4px 0 4px;
background-color: #ddd;
color: #666;
}

.profileDataActiveTab {
background-color: #fff !important;
color: #000 !important;
}

.messageBox{
margin-left: 12px;
font-weight: bold;
}

.activeActorTableRow td{
background-color: #d0d0d4 !important;
}

.noView {
display: none;
}

#noCargos {
margin: 10px 0 0 40px;
font-size: 16px;
}

#homeBtn {
position: absolute;
top: 15px;
right: 460px;
width: 24px;
height: 24px;
background-image: url('../img/home.png');
background-repeat: no-repeat;
}

#addRec {
color: #fff;
font-size: 1.1em;
}

#newRecTab {
display: table;
margin: 30px 0 10px 0;
}

.newRecRow {
display: table-row;
height: 40px;
}

.newRecLab {
display: table-cell;
width: 80px;
font-weight: bold;
}

.newRecField {
display: table-cell;
}

.sea, .land, .noSeaNorLand {
font-weight: bold;
text-align: center;
vertical-align: middle !important;
}

.sea, .land {
color: #ffffff;
cursor: pointer;
}

.noSeaNorLand {
color: #000000;
background-color: #FFFFFF;
cursor: default;
}

.sea {
background-color: #06738f;
}

.land {
background-color: #b29766;
}

#dashBoard {
margin-top: 20px;
}

#dashBoard input[type="button"], button, input[type="submit"] {
font-weight: bold;
background-color: #5c5c6a;
color: #FFFFFF;
width: 80px;
height: 30px;
border: none;
cursor: pointer;
}

#head_menu {
/*width:100%;*/
height: 24px;
background-color: #5c5c6a;
margin: 0 0 40px 0;
padding: 6px 0 6px 12px;
display: block;
}

#loginForm {
display: table;
margin: 6px auto;
}

#formRow {
display: table-row;
}

.formLabel, .formField {
display: table-cell;
padding-bottom: 20px;
}

.formLabel {
width: 120px;
font-weight: bold;
color: #44444f;
}


.loginFormLabel {
font-weight: bold;
color: #44444f;
}

#loginError, #formError {
margin-top: 20px;
font-weight: bold;
color: #b00;
}

.voyageRow {
background-color: #ddd;
}

.subVoyageRow {
color: #666666;
display: none;
}

#voyagesMenu {
font-size: 10px;
list-style: none;
margin: 40px 0 20px -34px;
}

#voyagesMenu li {
display: inline-block;
padding-right: 20px;
font-size: 1.2em;
cursor: pointer;
}

.headerLink {
color: #ffffff !important;
}

.appBtn {
color: #fff;
background-color: #5c5c6a;
font-weight: bold;
border: 1px solid #666;
margin: 16px 10px 0 0;
font-size: 10px;
padding: 6px 10px;
border-radius: 4px;
min-width: 54px;
cursor: pointer;
}

#mutBtn{
color: #fff;
background-color: #5c5c6a;
margin: 2px 10px 10px 8px;
border-radius: 4px;
font-weight: bold;
padding: 6px 10px;
cursor: pointer;
}

.UserEdit {
display: none;
}

.standardForm {
max-width: 800px;
}

.homeComponent {
display: inline-block;
width: 60%;
padding: 0 160px 0 0;
vertical-align: top;
font-size: 1.2em;
}

#homeContent{
vertical-align: top;
}

#ccform1, #ccform2 {
display: block;
}

#forgotPasswd {
display:block;
margin-top: 10px;
color: #778;
}

#loginFrame {
border: 1px solid #000;
border-radius: 6px;
background-color: #dedede;
display: inline-block;
width: 240px;
margin-left: 40px;
margin-top: 56px;
padding: 0;
}

#loginBtn{
margin-top: 4px;
}

.message {
margin-top: 30px;
}

.editIcon{
cursor: pointer;
}

#formStore{
display: none;
}

#gridMessage {
font-weight: bold;
margin: 20px 0;
}

#voyageBrowserNext, #voyageBrowserPrev {
font-weight:  bold;
padding-top: 16px;
}

#voyageBrowser{
border-top: 1px solid #555;
border-left:0;
border-right: 0;
}

#voyageBrowserNext {
text-align: right;
}

#voyageList {
border-bottom: 0;
}

.userFormError {
padding-top: 4px;
font-weight: bold;
color: #B00;
}

.withPointer {
cursor: pointer;
}

.interMediateBin, .hiddenBin {
display: none;
}

.toBeSaved:after {
content: " *" !important;
}


